body{
    background-color: #232123;
    color: #fff;
}

.topo{
    display: flex;
    justify-content: center;
    height: 140px;
    margin-left: 20px;
    margin-right: 20px;
}

.topo__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.topo__logo h1{
    font-weight: 400;
    font-size: 35px;
    margin: 0;
}

.topo__menu ul{
    display: flex;
    list-style: none;
}

.topo__menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.topo__menu--conta{
    border: 2px solid #9b06ce;
    padding: 10px;
    border-radius: 10px;
}

.conteudo{
    display: flex;
    justify-content: center;
    margin-left: 22px;
    margin-right: 22px;   
    align-items: center;
}

.conteudo__container{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.conteudo__left{
    width: 40%;
}

.conteudo__left h1{
    font-size: 63px;
    margin: 0;
    margin-top: 35px;
}

.conteudo__left span{
    color: #9b06ce;
}

.conteudo__left input{
    display: block;
    border: 1px solid #232123;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 250px;
    padding: 8px;
    outline: 0;
}

input[type=submit]{
    display: block;
    border: 1px solid #232123;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 150px;
    padding: 8px;
    outline: 0;
    background-color: #9b06ce;
    color: #fff;
    font-size: 18px;
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
}

.mm_line{
    height: 4px;
    background-color: #fff;
    border-radius: 6px;
}